

.modal {
  position: fixed;
  top: 10vh;
  right: 5%;
  width: 32%;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

